/* Primary heading Main font  */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* secondary body font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Review font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* variables */
:root {
  --first-black-text-color: #08080a;
  --second-black-text-color: #08070a;
  --black-text-color: #000000;
  --white-text-color: #ffffff;
  --section-bg: #f8f3ec;
}

/* Buttons */

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  text-decoration: none;
  background: var(--black-text-color);
  color: var(--white-text-color);
  padding: 13px 30px;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  border: none;
}

.primary-btn i {
  color: black;
  background: var(--white-text-color);
  padding: 5px;
  border-radius: 50%;
  transition: background 0.3s, color 0.3s;
}

.primary-btn:hover {
  background: var(--white-text-color);
  color: var(--first-black-text-color);
  border: 1px solid var(--black-text-color);
}

.primary-btn:hover i {
  color: var(--white-text-color);
  background: var(--first-black-text-color);
}

/* Secondary button */
/* Base styling for the button */
.second-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  text-decoration: none;
  background: none;
  color: var(--white-text-color);
  padding: 13px 30px;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  border: 1px solid var(--white-text-color);
}

/* Icon styling */
.second-btn i {
  color: var(--black-text-color);
  background: var(--white-text-color);
  padding: 5px;
  border-radius: 50%;
  transition: background 0.3s, color 0.3s;
}

/* Hover state for the button */
.second-btn:hover {
  background: var(--white-text-color);
  color: var(--first-black-text-color);
  border: 1px solid var(--black-text-color);
}

/* Hover state for the icon */
.second-btn:hover i {
  color: var(--white-text-color);
  background: var(--black-text-color);
}

/* default Css reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Common Styles */
.top-bar,
header {
  font-family: "DM Sans", sans-serif;
}

/* Top Bar */
.top-bar {
  font-size: 15px;
  font-weight: 400;
  height: 55px;
  font-family: "DM Sans", sans-serif;
  background-color: var(--section-bg);
}
.top-bar-content {
  padding: 12px 0;
  margin: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar-icons-group {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.top-bar-icon {
  color: white;
  background: black;
  padding: 7px;
  border-radius: 50%;
  font-weight: 300;
  font-size: 13px;
}
.top-bar-links {
  text-decoration: none;
  color: var(--first-black-text-color);
}
.top-bar-left-content,
.top-bar-right-content {
  display: flex;
  align-items: center;
}
.top-bar-left-content {
  column-gap: 20px;
}
.phone-icon {
  padding: 0 20px 0 0;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  column-gap: 12px;
  text-decoration: none;
  color: var(--first-black-text-color);
}
.mail-icon {
  padding: 0 0 0 5px;
  border: none;
  align-items: center;
  display: flex;
  text-decoration: none;
  color: var(--first-black-text-color);
  column-gap: 15px;
}
.top-bar-links {
  border-right: 1px solid black;
  padding: 0 12px;
}
.fa-facebook {
  margin: 0 0 0 16px;
}

/* Header */
nav {
  margin: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

nav .logo img {
  max-width: 100%;
  height: auto;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 12px;
}
nav ul li::after {
  content: " +";
  margin-left: 2px;
  color: black;
  font-weight: bold;
}

nav ul li a {
  color: var(--text-color);
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  text-decoration: none;
}

nav .primary-btn {
  margin-left: 6px;
  background-color: var(--first-black-text-color);
  color: var(--white-text-color);
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 15px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon i {
  font-size: 24px;
  color: var(--text-color);
}

/* ---------------------HERO SECTION------------ */
/* Hero Section Styles */
.hero-section {
  margin: 30px 60px 0;
  background-image: url(/Assets/Images/hero-bg.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.hero-slider-container {
  height: 100%;
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.hero-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.hero-btn {
  margin-top: 10px;
  font-family: "DM Sans", sans-serif;
  border: 1px solid var(--white-text-color);
  color: var(--white-text-color);
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 16px;
  text-transform: capitalize;
}
.hero-img {
  margin-bottom: -20px;
}
.hero-text {
  margin-left: 80px;
  color: var(--white-text-color);
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  text-align: left;
}

.hero-heading {
  font-family: "Cormorant Garamond", serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: capitalize;
}

.hero-imgage-div {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: end;
}

.swiper-pagination {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.swiper-pagination-bullet {
  background: transparent;
  border: 2px solid var(--white-text-color);
  width: 10px;
  height: 10px;
  opacity: 0.7;
  border-radius: 50%;
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  background: var(--white-text-color);
  border: none;
  opacity: 1;
}
/* ----------------CHOICE SECTION------------ */
.choice-section {
  margin: 60px 60px 0px;
  text-align: center;
}

.choice-section-heading {
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

.choise-section-description {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.description-div-choice-section {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

/* --------------------NEWSLETTER SECTION------- */
.newsletter-section {
  margin: 60px 60px 0px;
  background-color: var(--section-bg);
  height: 350px;
  border-radius: 15px;
}

.newsletter-div {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 35px;
}
.newsletter-section-heading {
  font-size: 34px;
  font-family: "Cormorant Garamond", serif;
  line-height: 54px;
}
.newsletter-description {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 680px;
  text-align: center;
}
.newsletter-form {
  display: flex;
  column-gap: 20px;
}
#email-field {
  width: 480px;
  padding: 14px 0px 14px 20px;
  border-radius: 30px;
  border: 1px solid var(--first-black-text-color);
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}

::placeholder {
  color: var(--first-black-text-color);
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}

#submit-btn {
  font-family: "DM Sans", sans-serif;
  background: var(--first-black-text-color);
  color: var(--white-text-color);
  border: none;
  outline: none;
  padding: 12px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 30px;
  cursor: pointer;
}

/* -------------SECTION 4-------------- */
.section-4 {
  margin: 100px 60px 0px;
}
.section-4-grid {
  padding: 0px 20px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  place-items: center;
  position: relative;
}
.circular-motion-container {
  position: absolute;
  top: -70px;
  left: -40px;
}
.grid-img {
  width: 570px;
}

/* ---------------------TREATMENT------------ */
.treatment-section {
  margin: 120px 0px 0px;
}
.treatment-section-heding-slider-btns {
  height: 160px;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  justify-content: space-between;
}
.treatment-heading {
  font-size: 40px;
  line-height: 40px;
  font-family: "Cormorant Garamond", serif;
  width: 70%;
  text-align: end;
}
.treatment-card-btns {
  margin: 0px 60px 0px 0px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.treatment-slider-next-arrow,
.treatment-slider-back-arrow {
  padding: 25px;
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid var(--first-black-text-color);
  cursor: pointer;
}
.treatment-slider-next-arrow:hover,
.treatment-slider-back-arrow:hover {
  background: black;
  color: white;
}
.treatment-slider-container {
  background: var(--section-bg);
  padding: 00px 0px 300px 60px;
  margin-top: -10px;
}

.treatment-card {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--white-text-color);
  padding: 35px 0px 35px 0px;
  row-gap: 15px;
  text-align: center;
  border-radius: 10px;
}
.cover-treatment-img {
  width: 440px;
}
.icon-treatment {
  margin-top: -70px;
  width: 110px;
}

.treatment-card-heading {
  font-size: 30px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
}
.treatment-card-text {
  font-size: 17px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400px;
  width: 410px;
  text-transform: capitalize;
  text-align: center;
}

/* --------------------WHY CHOOSE US-------------- */

.why-choose-us {
  margin: 60px 0px 0px;
  padding-bottom: 50px;
}
.why-chooseus-container {
  margin: 0px 60px;
  display: flex;
  align-items: self-start;

  column-gap: 35px;
}
.why-choose-content {
  display: flex;
  row-gap: 40px;
  flex-direction: column;
}

.heading-choose-us {
  font-size: 40px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  margin-top: -120px;
}

.choose-us-image {
  margin-top: -150px;
  width: 400px;
}

.tabs-container {
  display: flex;
  column-gap: 70px;
}

.tabs {
  width: 320px;
  text-align: center;
  padding-right: 20px;
}

.tab-button {
  display: block;
  outline: none;
  border: none;
  border-top: 3px solid var(--first-black-text-color);
  background: none;
  padding: 16px 10px 16px 0px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
  width: 100%;
  font-size: 23px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
}
.tab-button:last-child {
  border-bottom: 3px solid var(--first-black-text-color);
}
.tab-button.active {
  font-weight: bold;
}

.tab-contents {
  flex: 1;
  padding: 10px 0px 0px 10px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
.tab-content-heading {
  font-size: 30px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
}
.tab-content-text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  color: #787878;
}
.tab-btn {
  margin: 20px 0px 0px 0px;
  width: 240px;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}

.logo-slider-img {
  padding: 30px 50px;
  border: 2px solid #eeeeee;
  border-radius: 102px;
  width: 300px;
}

.scroll-logos {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 80px;
}

.logos-container {
  display: flex;
  align-items: center;
  animation: scroll 15s linear infinite;
}

.logo-slide {
  display: inline-block;
  padding: 0 3px; /* Optional spacing between logos */
}

.logo-slider-img {
  height: 115px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ---------------PRoducts------------- */
.product {
  background: #fafafa;
  padding: 100px 60px 80px 60px;
}

.product-section-heading {
  font-size: 40px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  margin-bottom: 60px;
}
.product-card {
  width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.product-name {
  font-size: 30px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
}
.product-catagory {
  font-size: 25px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.product-price {
  font-size: 25px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
}

.product-slider-next-arrow,
.product-slider-back-arrow {
  padding: 25px;
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid var(--first-black-text-color);
  cursor: pointer;
}
.product-slider-next-arrow:hover,
.product-slider-back-arrow:hover {
  background: black;
  color: white;
}
.product-slider-buttons {
  margin-top: 60px;
  text-align: center;
}
.product-slider-next-arrow {
  margin-left: 7px;
}
.swiper-product-container {
  width: 100%;
  overflow: hidden;
}

/* ----------REVIEWS---------- */
.reviews {
  padding: 60px 0px 70px 0px;
  background: var(--section-bg);
}
.reviews-container {
  margin: 0px 60px;
}
.swiper-reviews {
  width: 100%;
  overflow: hidden;
  padding-top: 50px;
}
.reviews-heading {
  font-size: 40px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  margin-bottom: 60px;
}
.reviews-slide {
  width: 400px;
  border: 2px dotted rgba(0, 0, 0, 0.452);
  padding: 40px 20px 20px 20px;
  position: relative;
}
.coma-icon {
  position: absolute;
  top: -27px;
  left: 30px;
  background: var(--section-bg);
  padding: 0px 10px;
  z-index: 10000;
}
.review-text {
  padding: 15px 14px 50px 14px;
  color: #939393;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  width: 400;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.452);
}
.review-person-perfeesion {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #acacac;
  width: 400;
}
.review-person-name {
  font-size: 16px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  color: #333333;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.fa-thumbs-up {
  color: black;
  cursor: pointer;
  font-size: 20px;
  transition: 0.4s ease-in;
}
.fa-thumbs-up:hover {
  color: white;
  padding: 10px;
  border-radius: 50%;
  background: var(--first-black-text-color);
}
.review-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-align: start;
  padding: 30px 0px 0px 0px;
}
.review-profile-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  row-gap: 5px;
}
/* Custom Pagination Container */
.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* Custom Pagination Bullets */
.custom-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 3px;
  background-color: grey;
  margin: 0 5px;
  display: inline-block;
  border-radius: 0;
  transition: background-color 0.3s;
}

/* Active Bullet */
.custom-pagination .swiper-pagination-bullet-active {
  background-color: black;
}

/* ---------CONSULATION____ */
.consulation {
  margin: 0px 60px;
  padding: 80px 0px;
}
.consulation-container {
  background-image: url(/Assets/Images/consultant.png);
  background-position: center;
  border-radius: 30px;
  height: 350px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.consutaion-heading {
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  color: var(--white-text-color);
  width: 630px;
}

/* ----POST FEED-------- */
.post-feed {
  background: var(--section-bg);
  padding: 100px 0px 80px 0px;
}
.post-feed-container {
  margin: 80px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.post-feed-heading {
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  line-height: 39px;
  text-align: center;
}
.instagram-titile,
.tiktok-titile {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  font-size: 40px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 5px;
}
.tiktok-account,
.insta-account {
  font-size: 30px;
  font-weight: 400px;
  font-family: "DM Sans", sans-serif;
}
.insta-feed-post-grid,
.tiktok-feed-post-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 10px; /* Space between images */
}

.insta-feed-post,
.tiktok-feed-post {
  width: 100%;
  display: block;
}
.post-feed-btns {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* -------BENEFIT POST------ */
.benefit-section {
  margin: 30px 60px 120px;
}
.benefit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.benefit-box {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.benefit-icons {
  height: 100px;
}

.benefit-box-heading {
  font-size: 20px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 6px;
}

.benefit-box-para {
  font-size: 15px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}
/* -------FOOOTER----------- */
.footer {
  background-color: #838384;
  color: #ffffff;
  /* padding: 100px 0 0px 0px; */
}

.footer-container,
.footer-lower-container {
  display: grid;
  /* gap: 20px; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.location-style {
  width: 180px;
}
.footer-container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 2px 80px 25px;
  grid-template-columns: 1fr 1.2fr 0.8fr 1fr;
  column-gap: 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.logo-column img {
  max-width: 260px;
}

.location-column p,
.contact-column p {
  margin: 0;
  color: var(--white-text-color);

  font-size: 15px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.location-column,
.contact-column {
  display: flex;
  flex-direction: column;
}

.location-column h4,
.contact-column h4 {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--white-text-color);
  font-family: "Cormorant Garamond", serif;
}
.footer-lower-column h4 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--white-text-color);
  font-family: "Cormorant Garamond", serif;
}
.footer-about {
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  width: 300px;
}
.location-info,
.additional-info,
.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  column-gap: 10px;
  text-decoration: none;
  padding: 3px;
  color: var(--first-black-text-color);
}

/* LOWER FOOTER */
.footer-lower {
  border-top: 2px solid #ffffff;
  color: #ffffff;
  padding: 40px 0px;
}

.footer-lower-container {
  display: grid;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  grid-template-columns: 1.8fr 1.2fr; /* Adjust column widths */
}

.footer-lower-column {
  display: flex;
  flex-direction: column;
}

.footer-lower-column .links-row {
  display: flex;
  flex-wrap: wrap;
}

.links-column .link-item {
  flex: 1 1 30%; /* Three items per row */
  text-decoration: none;
  color: white;
}

.more-links-column .link-item {
  flex: 1 1 48%; /* Two items per row */
  text-decoration: none;
  color: white;
}

.footer-lower-column .link-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer-lower-column .link-item i {
  color: #ffffff; /* White color for arrow icons */
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px; /* Icon container size */
  height: 24px;
}
.footer-icon-link {
  text-decoration: none;
}
.footer-icon-group {
  text-decoration: none;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.footer-socail-icons {
  width: 35px;
  height: 35px;
}

.circle {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #08080a;
  padding: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-circle {
  position: absolute;
  width: 120px;
  height: 120px;
  background: url(/Assets/Images/circle-img.svg);
  background-size: cover;
  border-radius: 50%;
  color: white;
  /* filter: brightness(1.5) contrast(1.5); */
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  color: wheat;
  animation: rotateText 10s linear infinite;
}

@keyframes rotateText {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  line-height: 24px;
  font-size: 1em;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  color: var(--white-text-color);
  transform-origin: 0 100px;
  text-transform: uppercase;
}
